[user]
	name = Roger Luiz Alves
	email = rrlalves@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[push]
	default = matching
[branch]
	autosetuprebase = always
[credential]
	helper = store
[http]
	sslVerify = false
[init]
	templatedir = ~/.git_templates/
[gerrit]
	createchangeid = true
[jira]
	createjiraid = true
[alias]
	st = status
	ci = commit
	co = checkout
	mg = merge --no-ff
	df = diff
	dc = diff --cached
	ll = log --graph --all --decorate --oneline
	lg = log --graph --decorate --oneline
[core]
	editor = vim
